# Node.js dependencies
node_modules/
package-lock.json  # Ignore package-lock.json

# Environment variables
.env

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS/System files
.DS_Store
Thumbs.db
.vscode/

# Build files
dist/
build/
.cache/

# Redis dump files
dump.rdb
appendonly.aof

# Temporary files
tmp/
temp/
